.wrapper {
  display: grid;
  grid-row-gap: 10px;

  > :first-child {
    margin-bottom: 20px;
  }
}

.field {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}